<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li>
                    <a href="#/">Home</a>
                </li>
                <li class="active"><a href="photos/ice" target="_blank">Ice Climbing Gallery</a></li>
            </ol>
            <h1 class="page-header">Ice Climbing</h1>

        </div>

    </div>
 
    <div class="row">

        <div class="col-md-4">
            <img class="img-responsive" src="images/ice2.jpg">
        </div>
<div class="col-md-8">
            <h2 class="page-header">Winter is too long not to ice climb</h2>

            <p>While the sport of ice climbing has a few draw backs, like being cold, wet and miserable, 
            it does have a few good things going for it.  When you are out in the middle of winter on a sunny day, with the temperature just below freezing,
            climbing up a frozen waterfall, it is a magical moment.
            </p>
            <p>The deep blue skies, the magical white covered trees, and the physical joy of swinging ice tools into solid vertical ice is addictive.
            There are even some weird people who prefer ice climbing over rock climbing.  I am not one of those people.  I do 
            enjoy ice climbing and the physical and mental challenges that come with it, however if I could rock climb year round, I 
            would not be disappointed.  However, if you ever intend to venture into the mountains, then ice skills are essential.  If 
            you want to venture into the Alpine climbing world then you need to hone your ice climing skills.</p>
        </div>
    </div>
